.container {
  display: flex;
}

container2 {
  display: flex;
  flex-direction: column;
}

.container2 > * {
  width: 100%;
}

.btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.full {
  display: flex;
  
  min-width: 100%;
  min-height:100%;
}
source {
  min-width: 100%;
  min-height:100%;
  flex-direction: column;
  justify-content: center;
}
