<mat-grid-list cols="2" rowHeight="500px" *ngIf="add$">
  <mat-grid-tile>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Dodaj</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="service.form">
          <div class="container-form">
            <mat-form-field>
              <label>WLL </label>
              <input matInput formControlName="wll" type="number" />
              <mat-error>Wpisz tonaż!</mat-error>
            </mat-form-field>
            <mat-form-field>
              <label>L1 </label>
              <input matInput formControlName="l1" type="number" />
              <mat-error>Wpisz długość!</mat-error>
            </mat-form-field>
            <mat-form-field>
              <label>Czas </label>
              <input matInput formControlName="czas" type="number" />
              <mat-error>Wpisz czas!</mat-error>
            </mat-form-field>
            <mat-form-field>
              <label>Sztuk </label>
              <input matInput formControlName="szt" type="number" />
              <mat-error>Wpisz ilosc!</mat-error>
            </mat-form-field>
            <mat-form-field>
              <label>Partia </label>
              <input matInput formControlName="partia" type="number" />
              <mat-error>Wpisz nici!</mat-error>
            </mat-form-field>
            <input formControlName="edit" type="hidden" />
            <div class="btn">
              <div *ngIf="service.form.value.edit == false">
                <button
                  mat-raised-button
                  [disabled]="!service.form.valid"
                  (click)="saveForm(service.form.value)"
                  color="primary"
                >
                  Wyślij
                </button>
              </div>
              <div *ngIf="service.form.value.edit == true">
                <button
                  mat-raised-button
                  [disabled]="!service.form.valid"
                  (click)="update(service.form.value)"
                  color="primary"
                >
                  Modyfikuj
                </button>
              </div>

              <button mat-raised-button (click)="reset()">
                Anuluj
              </button>
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile class="wynikiStyl">
    <div *ngIf="value">
      <p>wll: {{ value.wll }}</p>
      <p>l1: {{ value.l1 }}</p>
      <p>czas: {{ value.czas }}</p>
      <p>szt: {{ value.szt }}</p>
      <p>partia: {{ value.partia }}</p>
      <p>licznik: {{ licznik }}</p>
      <p>szpule: {{ szpule }}</p>
      <p>waga: {{ waga }}</p>
      <p>dodany: {{ value.created | date }}</p>
    </div>
  </mat-grid-tile>
</mat-grid-list>
<mat-card *ngIf="!add$">
  <button mat-raised-button color="primary" (click)="show()">
    Dodaj
  </button></mat-card
>
