<p>Kalendarz roboczy widok miesiaca</p>

<button mat-raised-button (click)="addEvent()" color="primary">
  Dodaj wydarzenie
</button>
<button mat-raised-button (click)="addCalendar()" color="primary">
  Dodaj wydarzenie2
</button>

<mwl-calendar-month-view-header [locale]="locale">
</mwl-calendar-month-view-header>
<mwl-calendar-month-view
  [viewDate]="viewDate"
  [events]="events"
  [locale]="locale"
  [excludeDays]="excludeDays"
  (eventClicked)="handleEvent('Clicked', $event.event)"
  (eventTimesChanged)="eventTimesChanged($event)"
  [refresh]="refresh"
>
</mwl-calendar-month-view>
