<img
  *ngFor="let image of images"
  [defaultImage]="defaultImage"
  [errorImage]="errorImage"
  [lazyLoad]="image"
/>
<video autoplay loop muted playsinline>
  <source src="/assets/a/16.webm" type="video/webm" />
</video>
<video autoplay loop muted playsinline>
  <source src="/assets/a/20.webm" type="video/webm" />
</video>
<video autoplay loop muted playsinline>
  <source src="/assets/a/14.webm" type="video/webm" />
</video>
<video autoplay loop muted playsinline>
  <source src="/assets/a/19.webm" type="video/webm" />
</video>
<video autoplay loop muted playsinline>
  <source src="/assets/a/17.webm" type="video/webm" />
</video>
<video autoplay loop muted playsinline>
  <source src="/assets/a/18.webm" type="video/webm" />
</video>

<video autoplay loop muted playsinline>
  <source src="/assets/a/15.webm" type="video/webm" />
</video>
