<div class="grid-container">
  <h1 class="mat-h1">Pulpit</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of (cards | async)" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{ card.title }}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Więcej</button>
              <button mat-menu-item>Usuń</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div> {{ card.description }}</div>

          <mat-card-actions>
            <button mat-raised-button color="primary" type="submit">Wysli</button>
          </mat-card-actions>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
 
    <mat-grid-tile [colspan]="2"  >
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            Dodaj


          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>
            <form [formGroup]="addForm" novalidate (ngSubmit)="onSubmit()">
              <mat-form-field>
                <input matInput placeholder="wll" value="wll">
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="dlugosc" value="dlugosc">
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="szt" value="szt">
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="czas" value="czas">
              </mat-form-field>
            </form>
          </div>
        </mat-card-content>
      </mat-card>

 
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            Wykonano


          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>
            Zrobione Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet velit eos cupiditate quod earum vitae
            maxime culpa, odit, voluptatem est cum nostrum? Est consequatur pariatur velit sit nobis dolor adipisci!
          </div>
        </mat-card-content>
      </mat-card>


    </mat-grid-tile>
  </mat-grid-list>
</div>




<div fxLayout="column">

  <h2>DeForce 1</h2>
  <div>
    <table border="1">
      <tbody>
        <tr>
          <td style="text-align: center;border: 1px solid black;padding: 5px">
            Kolor
          </td>
          <td style="text-align: center;border: 1px solid black;padding: 5px">
            Artykuł
          </td>
          <td style="text-align: center;border: 1px solid black;padding: 5px">
            Tonaż
          </td>
        </tr>
        <tr>
          <td style="text-align: center;border: 1px solid black;padding: 5px;background-color: #9900ff">
            &nbsp;
          </td>
          <td style="text-align: center;border: 1px solid black;padding: 5px">
            05140512
          </td>
          <td style="text-align: center;border: 1px solid black;padding: 5px">
            1000
          </td>
        </tr>
        <tr>
          <td style="text-align: center;border: 1px solid black;padding: 5px;background-color: #006633">
            &nbsp;
          </td>
          <td style="text-align: center;border: 1px solid black;padding: 5px">
            05141012
          </td>
          <td style="text-align: center;border: 1px solid black;padding: 5px">
            1500
          </td>
        </tr>
        <tr>
          <td style="text-align: center;border: 1px solid black;padding: 5px;background-color: #00ff33">
            &nbsp;
          </td>
          <td style="text-align: center;border: 1px solid black;padding: 5px">
            05141512
          </td>
          <td style="text-align: center;border: 1px solid black;padding: 5px">
            2000
          </td>
        </tr>
        <tr>
          <td style="text-align: center;border: 1px solid black;padding: 5px;background-color: #ccff00">
            &nbsp;
          </td>
          <td style="text-align: center;border: 1px solid black;padding: 5px">
            05143012
          </td>
          <td style="text-align: center;border: 1px solid black;padding: 5px">
            3000
          </td>
        </tr>
        <tr>
          <td style="text-align: center;border: 1px solid black;padding: 5px;background-color: #c0c0c0">
            &nbsp;
          </td>
          <td style="text-align: center;border: 1px solid black;padding: 5px">
            05144512
          </td>
          <td style="text-align: center;border: 1px solid black;padding: 5px">
            4000
          </td>
        </tr>
        <tr>
          <td style="text-align: center;border: 1px solid black;padding: 5px;background-color: #cc0000">
            &nbsp;
          </td>
          <td style="text-align: center;border: 1px solid black;padding: 5px">
            05145512
          </td>
          <td style="text-align: center;border: 1px solid black;padding: 5px">
            5000
          </td>
        </tr>
        <tr>
          <td style="text-align: center;border: 1px solid black;padding: 5px;background-color: #330000">
            &nbsp;
          </td>
          <td style="text-align: center;border: 1px solid black;padding: 5px">
            05146012
          </td>
          <td style="text-align: center;border: 1px solid black;padding: 5px">
            6000
          </td>
        </tr>
        <tr>
          <td style="text-align: center;border: 1px solid black;padding: 5px;background-color: #0033ff">
            &nbsp;
          </td>
          <td style="text-align: center;border: 1px solid black;padding: 5px">
            05147512
          </td>
          <td style="text-align: center;border: 1px solid black;padding: 5px">
            8000
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <h2>DeForce 2</h2>
  <div>
    <table border="1">
      <tbody>
        <tr>
          <td style="text-align: center;border: 1px solid black;padding: 5px">
            Kolor
          </td>
          <td style="text-align: center;border: 1px solid black;padding: 5px">
            Artykuł
          </td>
          <td style="text-align: center;border: 1px solid black;padding: 5px">
            Tonaż
          </td>
        </tr>
        <tr>
          <td style="text-align: center;border: 1px solid black;padding: 5px;background-color: #9900ff">
            &nbsp;
          </td>
          <td style="text-align: center;border: 1px solid black;padding: 5px">
            05140522
          </td>
          <td style="text-align: center;border: 1px solid black;padding: 5px">
            1000
          </td>
        </tr>
        <tr>
          <td style="text-align: center;border: 1px solid black;padding: 5px;background-color: #006633">
            &nbsp;
          </td>
          <td style="text-align: center;border: 1px solid black;padding: 5px">
            05141022
          </td>
          <td style="text-align: center;border: 1px solid black;padding: 5px">
            1500
          </td>
        </tr>
        <tr>
          <td style="text-align: center;border: 1px solid black;padding: 5px;background-color: #00ff33">
            &nbsp;
          </td>
          <td style="text-align: center;border: 1px solid black;padding: 5px">
            05142522
          </td>
          <td style="text-align: center;border: 1px solid black;padding: 5px">
            2000
          </td>
        </tr>
        <tr>
          <td style="text-align: center;border: 1px solid black;padding: 5px;background-color: #ccff00">
            &nbsp;
          </td>
          <td style="text-align: center;border: 1px solid black;padding: 5px">
            05143022
          </td>
          <td style="text-align: center;border: 1px solid black;padding: 5px">
            3000
          </td>
        </tr>
        <tr>
          <td style="text-align: center;border: 1px solid black;padding: 5px;background-color: #c0c0c0">
            &nbsp;
          </td>
          <td style="text-align: center;border: 1px solid black;padding: 5px">
            05144522
          </td>
          <td style="text-align: center;border: 1px solid black;padding: 5px">
            4000
          </td>
        </tr>
        <tr>
          <td style="text-align: center;border: 1px solid black;padding: 5px;background-color: #cc0000">
            &nbsp;
          </td>
          <td style="text-align: center;border: 1px solid black;padding: 5px">
            05145522
          </td>
          <td style="text-align: center;border: 1px solid black;padding: 5px">
            5000
          </td>
        </tr>
        <tr>
          <td style="text-align: center;border: 1px solid black;padding: 5px;background-color: #330000">
            &nbsp;
          </td>
          <td style="text-align: center;border: 1px solid black;padding: 5px">
            05146022
          </td>
          <td style="text-align: center;border: 1px solid black;padding: 5px">
            6000
          </td>
        </tr>
        <tr>
          <td style="text-align: center;border: 1px solid black;padding: 5px;background-color: #0033ff">
            &nbsp;
          </td>
          <td style="text-align: center;border: 1px solid black;padding: 5px">
            05147522
          </td>
          <td style="text-align: center;border: 1px solid black;padding: 5px">
            8000
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <h2>Doweb</h2>
    <table border="1">
      <tbody>
        <tr>
          <td style="text-align: center;border: 1px solid black;padding: 5px">
            Kolor
          </td>
          <td style="text-align: center;border: 1px solid black;padding: 5px">
            Artykuł
          </td>
          <td style="text-align: center;border: 1px solid black;padding: 5px">
            Tonaż
          </td>
        </tr>
        <tr>
          <td style="text-align: center;border: 1px solid black;padding: 5px;background-color: #9900ff">
            &nbsp;
          </td>
          <td style="text-align: center;border: 1px solid black;padding: 5px">
            05140532
          </td>
          <td style="text-align: center;border: 1px solid black;padding: 5px">
            1000
          </td>
        </tr>
        <tr>
          <td style="text-align: center;border: 1px solid black;padding: 5px;background-color: #006633">
            &nbsp;
          </td>
          <td style="text-align: center;border: 1px solid black;padding: 5px">
            05141032
          </td>
          <td style="text-align: center;border: 1px solid black;padding: 5px">
            1500
          </td>
        </tr>
        <tr>
          <td style="text-align: center;border: 1px solid black;padding: 5px;background-color: #00ff33">
            &nbsp;
          </td>
          <td style="text-align: center;border: 1px solid black;padding: 5px">
            05141532
          </td>
          <td style="text-align: center;border: 1px solid black;padding: 5px">
            2000
          </td>
        </tr>
        <tr>
          <td style="text-align: center;border: 1px solid black;padding: 5px;background-color: #ccff00">
            &nbsp;
          </td>
          <td style="text-align: center;border: 1px solid black;padding: 5px">
            05143032
          </td>
          <td style="text-align: center;border: 1px solid black;padding: 5px">
            3000
          </td>
        </tr>
        <tr>
          <td style="text-align: center;border: 1px solid black;padding: 5px;background-color: #c0c0c0">
            &nbsp;
          </td>
          <td style="text-align: center;border: 1px solid black;padding: 5px">
            05144532
          </td>
          <td style="text-align: center;border: 1px solid black;padding: 5px">
            4000
          </td>
        </tr>
        <tr>
          <td style="text-align: center;border: 1px solid black;padding: 5px;background-color: #cc0000">
            &nbsp;
          </td>
          <td style="text-align: center;border: 1px solid black;padding: 5px">
            05145532
          </td>
          <td style="text-align: center;border: 1px solid black;padding: 5px">
            5000
          </td>
        </tr>
        <tr>
          <td style="text-align: center;border: 1px solid black;padding: 5px;background-color: #330000">
            &nbsp;
          </td>
          <td style="text-align: center;border: 1px solid black;padding: 5px">
            05146032
          </td>
          <td style="text-align: center;border: 1px solid black;padding: 5px">
            6000
          </td>
        </tr>
        <tr>
          <td style="text-align: center;border: 1px solid black;padding: 5px;background-color: #0033ff">
            &nbsp;
          </td>
          <td style="text-align: center;border: 1px solid black;padding: 5px">
            05147532
          </td>
          <td style="text-align: center;border: 1px solid black;padding: 5px">
            8000
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <h2>doPremium</h2>
  <div>
    <table border="1">
      <tbody>
        <tr>
          <td style="text-align: center;border: 1px solid black;padding: 5px">
            Kolor
          </td>
          <td style="text-align: center;border: 1px solid black;padding: 5px">
            Artykuł
          </td>
          <td style="text-align: center;border: 1px solid black;padding: 5px">
            Tonaż
          </td>
        </tr>
        <tr>
          <td style="text-align: center;border: 1px solid black;padding: 5px;background-color: #9900ff">
            &nbsp;
          </td>
          <td style="text-align: center;border: 1px solid black;padding: 5px">
            05140552
          </td>
          <td style="text-align: center;border: 1px solid black;padding: 5px">
            1000
          </td>
        </tr>
        <tr>
          <td style="text-align: center;border: 1px solid black;padding: 5px;background-color: #006633">
            &nbsp;
          </td>
          <td style="text-align: center;border: 1px solid black;padding: 5px">
            05141052
          </td>
          <td style="text-align: center;border: 1px solid black;padding: 5px">
            1500
          </td>
        </tr>
        <tr>
          <td style="text-align: center;border: 1px solid black;padding: 5px;background-color: #00ff33">
            &nbsp;
          </td>
          <td style="text-align: center;border: 1px solid black;padding: 5px">
            05141552
          </td>
          <td style="text-align: center;border: 1px solid black;padding: 5px">
            2000
          </td>
        </tr>
        <tr>
          <td style="text-align: center;border: 1px solid black;padding: 5px;background-color: #ccff00">
            &nbsp;
          </td>
          <td style="text-align: center;border: 1px solid black;padding: 5px">
            05143052
          </td>
          <td style="text-align: center;border: 1px solid black;padding: 5px">
            3000
          </td>
        </tr>
        <tr>
          <td style="text-align: center;border: 1px solid black;padding: 5px;background-color: #c0c0c0">
            &nbsp;
          </td>
          <td style="text-align: center;border: 1px solid black;padding: 5px">
            05144552
          </td>
          <td style="text-align: center;border: 1px solid black;padding: 5px">
            4000
          </td>
        </tr>
        <tr>
          <td style="text-align: center;border: 1px solid black;padding: 5px;background-color: #cc0000">
            &nbsp;
          </td>
          <td style="text-align: center;border: 1px solid black;padding: 5px">
            05145552
          </td>
          <td style="text-align: center;border: 1px solid black;padding: 5px">
            5000
          </td>
        </tr>
        <tr>
          <td style="text-align: center;border: 1px solid black;padding: 5px;background-color: #330000">
            &nbsp;
          </td>
          <td style="text-align: center;border: 1px solid black;padding: 5px">
            05146052
          </td>
          <td style="text-align: center;border: 1px solid black;padding: 5px">
            6000
          </td>
        </tr>
        <tr>
          <td style="text-align: center;border: 1px solid black;padding: 5px;background-color: #0033ff">
            &nbsp;
          </td>
          <td style="text-align: center;border: 1px solid black;padding: 5px">
            05147552
          </td>
          <td style="text-align: center;border: 1px solid black;padding: 5px">
            8000
          </td>
        </tr>
        <tr>
          <td style="text-align: center;border: 1px solid black;padding: 5px;background-color: #ff6600">
            &nbsp;
          </td>
          <td style="text-align: center;border: 1px solid black;padding: 5px">
            05148025
          </td>
          <td style="text-align: center;border: 1px solid black;padding: 5px">
            10000
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>